body {
    font-family: Arial, sans-serif;
    background-color: rgb(254, 96, 96);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 200px auto;
    background-color: #bffd07;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 97%;
    padding: 10px;  
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #3a64e3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0b5cf1;
}

#output {
    width: 97%;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h3 {
        text-align: center;
}
